<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <appSettings>
    <!--Url's-->
    <add key="Url" value="http://localhost/AFLS" />
    <add key="UrlAssistMe" value="http://localhost/AssistMe" />

    <!--Ruta de .exe de navegadores y selección de navegador para ejecución-->
    <add key="BrowserDriverPath" value="D:\Automation\AFLSV9.10.0\AFLSSolutionTest\AFLSUIProjectTest\Drivers" />
    <add key="Browser" value="Chrome" />

    <!--Conexión de base de datos-->
    <add key="DatabaseConnection" value="Data Source=BG-D-SERVER15\TEST;Database=AFLS_EM_V9.9.2_144;User ID=AFLSDBUSER;Password=AFLS_321a" />

    <!--Ruta csv de extracción de datos-->
    <add key="SourceDataRoute" value="" />

    <!--Ruta para guardado de reportes y validación de generación-->
    <add key="GenerateReport" value="true" />
    <add key="PathProject" value="D:\Automation\AFLSV9.10.0\AFLSSolutionTest\AFLSUIProjectTest" />

    <!--************************************** Configuraciones generales **************************************-->
    <!--Espera en mili segundos de antes y después en ejecución de cada paso-->
    <add key="WaitBetweenSteps" value="500" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>